@import '/src/assets/_color.scss';


.swiper_title_container {
    position: absolute;
    z-index: 99;
    margin-top: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    @media (max-width:1023px) {
        position: relative;
    }
}
.swiper {
    width: 100%;
}
.btn_swiper_switch_container {
    margin-left: 1rem;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.btn_swiper_switch {
    border-radius: 2rem;
    
    h5 {
        color:$black-60;
        transition: all .3s ease;
    }

    &:hover {
        border: 2px solid #ffffff;
    }
    
    &.active {
        border: unset;
        border-bottom: 2px solid #ffffff;
        border-radius: unset;
        padding: 0.5rem 1rem;
        h5 {
            color: $black-0;
            scale: 1.2;
        }
        &:hover {
            cursor: default;
        }
        &:disabled {
            color: $black-0;
            opacity: 1;
        }
    }
}
.mySwiper {
    padding-top: 5rem;
    @media (max-width:1023px) {
        padding-top: 2rem;
    }
    .swiper-slide {
        transition: all .3s ease;
        &:hover {
            cursor: pointer;
            transform: translateY(-1rem);
    
            .mySwiper_content_sub {
                font-weight: bold;
            }
        }
    }
}
.swiper-button-prev ,.swiper-button-next {
    margin-top: unset;
    border-radius: 100%;
    width: 3.5rem;
    height: auto;
    aspect-ratio: 1/1;
    background: rgba(255,255,255,0.3);
    transition: all .3s ease;
    @media (max-width:1023px) {
        width: 3rem;
    }
    &:hover {
        background-color: $primary;
    }

    &::after {
        font-size: 1rem;
        color: white;
    }
}
.swiper-button-prev {
    top: 0;
    left: unset;
    right: 4.5rem;
        @media (max-width:1023px) {
            top: 50%;
            left: 0;
            right: unset;
        }
}
.swiper-button-next {
    top: 0;
    right: 0;
        @media (max-width:1023px) {
            top: 50%;
        }
}



.mySwiper_content_img_container {
    aspect-ratio: 3/4;
    
    & img {
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
    }
}
.mySwiper_content_sub {
    text-align: center;
}

